{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
<h2>Всего статей опубликовано: {{post|length}}</h2>
    <hr>
    {% if post %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публигации
                </td>
                <td>
                    Краткое содеожание
                </td>
            </tr>

            {% for posts in post %}
            <tr>
                <td>{{posts.title|truncatewords:5|censor}}</td>
                <td>{{posts.time_create|date:'d M Y'}}</td>
                <td>{{posts.text|truncatewords:20|censor}}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет </h2>
    {% endif %}
{% endblock content %}
